# =====================
# GLOBAL
# =====================
.DS_Store
.env
.env.*
*.log

# =====================
# NODE
# =====================
**/node_modules/

# =====================
# NEXT.JS
# =====================
**/.next/
**/out/
**/.vercel/

# =====================
# PYTHON
# =====================
**/__pycache__/
**/*.pyc
**/*.pyo
**/*.pyd
**/.Python
**/venv/
**/.venv/

# =====================
# EDITOR
# =====================
.vscode/
.idea/
